---
import { categories } from "../lib/site";

interface Props {
  active?: string;
}

const { active } = Astro.props;
---

<div class="-mx-6 flex gap-2 overflow-x-auto px-6 pb-1 [scrollbar-width:none] [-ms-overflow-style:none] md:mx-0 md:flex-wrap md:overflow-visible md:px-0 md:pb-0 [&::-webkit-scrollbar]:hidden">
  <a
    href="/catalogo"
    class:list={[
      "pill shrink-0",
      !active ? "pill-active" : "",
    ]}
  >
    Todos
  </a>
  {categories.map((c) => (
    <a
      href={`/catalogo?categoria=${c.slug}`}
      class:list={[
        "pill shrink-0",
        active === c.slug ? "pill-active" : "",
      ]}
    >
      {c.label}
    </a>
  ))}
</div>
